<div *ngIf="count != 4" class="container">
  <h4>Angular Quiz</h4>
  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Q{{count + 1}}.</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{questions[count].question}}</h6>
      <div class="form-check form-check-inline">
        <input class="form-check-input" [(ngModel)]="answer" type="radio" name="q1" id="q1" value="True">
        <label class="form-check-label" for="q1">{{questions[count].ans1}}</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" [(ngModel)]="answer" type="radio" name="q1" id="q1" value="False">
        <label class="form-check-label" for="q1">{{questions[count].ans2}}</label>
      </div>
    </div>
  </div>
  <button *ngIf="answer != null" class="btn btn-primary" (click)="changeQuest()">Next</button>
</div>
<div *ngIf="count > 3" class="container">
  <h4>Test Over</h4>
</div>